---
 const personalImageAlt = "Giancarlo Aparicio"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Giancarlo Aparicio, inicié en el campo de la informática en 2021, actualmente me encuentro <strong
        >desarrollando sistemas web de proyectos en la universidad y en cuestión de meses, concluiré mi tesis</strong
      >.
    </p>

    <p>
      Algunos de mis aportes incluyen <strong
        >desarrollar sistemas web para empresas/negocios como Tshidroom, ElsaVal, JHS Medical, la Universidad Ricardo Palma, Tusuy Perú, etc</strong
      >. Estoy enfocado directamente al mundo del desarrollo web.
    </p>

    <p>
      Como actual estudiante, <strong
        >he demostrado un gran desempeño en mis responsabilidades, <em class="italic">especialmente </em>en los cursos de programación</strong
      >. Demostrando a mi entorno y a mí mismo de lo comprometido que soy con mis fijaciones.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>