---
const personalImageAlt = "Giancarlo Aparicio"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import GithubIcon from "@/components/icons/GitHub.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-20"
      src="/gian.png"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/giancarlo-aparicio-09088b273/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Giancarlo Aparicio
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  +2 años programando y desarrollando sistemas web. Cursando bachillerato de <strong>Ingeniería de Software</strong> en la <strong>Universidad Ricardo Palma</strong>, Lima, Perú. Especializado en el desarrollo de aplicaciones web.
</p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:gian2aprc@gmail.com">
      <MailIcon class="size-4" />
      gian2aprc@gmail.com
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/giancarlo-aparicio-09088b273/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/yvncv">
      <GithubIcon class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
