---
import "@fontsource-variable/onest"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es" class="theme-light dark:theme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/briefcase-2.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class="relative">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
        --bg-width: 300%; /* Tama침o del fondo animado */
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
        animation: bg-slide 15s linear infinite; /* Animaci칩n global */
      }

      /* Establecer fondo en modo claro */
      body {
        background: linear-gradient(
          to right,
          theme('colors.light.gradient1'),
          theme('colors.light.gradient2'),
          theme('colors.light.gradient3')
        );
        background-size: var(--bg-width) 100%;
        color: black; /* Texto negro en modo claro */
      }

      /* Establecer fondo en modo oscuro */
      .dark body {
        background: linear-gradient(
          to right,
          theme('colors.dark.gradient1'),
          theme('colors.dark.gradient2'),
          theme('colors.dark.gradient3')
        );
        background-size: var(--bg-width) 100%;
        color: white; /* Texto blanco en modo oscuro */
      }

      /* Animaci칩n del fondo */
      @keyframes bg-slide {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 100% 0;
        }
        100% {
          background-position: 0 0;
        }
      }

      /* Ajustes de transici칩n para suavizar el cambio entre modos */
      html {
        transition: background-color 0.3s, color 0.3s;
      }
    </style>
  </body>
</html>



